.hub-TimelineView {
    height: 40px;
    position: relative;
    top: 25px;
    width: 100%;
}
.hub-TimelineView .line-bg {
    background: #999;
    height: 3px;
    position: absolute;
    top: 11px;
    width: 100%;
}
.hub-TimelineView .events {
    padding: 0 10px;
    position: relative;
    top: 0px;
}
.hub-TimelineView .events > ul {
    position: absolute;
    top: 0;
}
.hub-TimelineView .events > ul li.event-dot {
    background: #999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    height: 11px;
    margin-right: 10px;
    position: relative;
    top: -9px;
    width: 5px;
}
.hub-TimelineView .events > ul li.event-dot div.event-desc {
    color: #404040;
    display: none;
    left: -105px;
    width: 200px;
    position: relative;
    top: 25px;
}
.hub-TimelineView .events > ul li.event-dot:hover div.event-desc {
    display: block;
}

/* make streamhub content views have smaller font */
.content .content-main {
    font-size:10px !important;
    line-height:12px !important;
}
.content .content-actions {
    font-size:9px !important;
    line-height:10px !important;
}
.content .content-actions img {
    height:10px;
}
